:host {
  display: block;
}

.og7-importation {
  display: grid;
  gap: 2rem;
  padding-bottom: 4rem;
}

.og7-importation__grid {
  display: grid;
  gap: 2rem;
}

@media (min-width: 1200px) {
  .og7-importation__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: minmax(0, auto);
  }

  .og7-importation__grid > :nth-child(1) {
    grid-column: 1 / -1;
  }

  .og7-importation__grid > :nth-child(2) {
    grid-column: 1 / -1;
  }

  .og7-importation__grid > :nth-child(3) {
    grid-column: span 1;
  }

  .og7-importation__grid > :nth-child(4) {
    grid-column: span 1;
  }

  .og7-importation__grid > :nth-child(5) {
    grid-column: 1 / -1;
  }
}
