:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 50;
}

.spotlight-scroll::-webkit-scrollbar {
  width: 6px;
}

.spotlight-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(148, 163, 184, 0.4);
  border-radius: 999px;
}

.spotlight-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(148, 163, 184, 0.4) transparent;
}
