:host {
  display: contents;
}

.app-shell {
  min-height: 100vh;
}

.app-main {
  flex: 1 1 auto;
  background-color: #051840;
}

.app-footer {
  border-color: var(--og7-color-divider);
}

.app-footer__links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: center;
}

.app-footer__link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
