.hero-with-bg {
  position: relative;
  isolation: isolate;
  min-height: 60vh;
 // background-image: url("../../../assets/accueil.png");
  background-size: cover;
  background-position: center;
}

/* Même idée d’overlay pour le contraste */
.hero-with-bg::before {
  content: "";
  position: absolute; inset: 0;
 // background: linear-gradient(180deg, rgba(0,0,0,.25), rgba(0,0,0,.35));
  z-index: 0;
}
.hero-with-bg .hero-card { position: relative; z-index: 1; }

.hero-card.dimmed {
  position: relative;
  isolation: isolate;    /* crée un stacking context propre */
  z-index: 1;
}

.hero-card.dimmed::after {
  content: "";
  position: absolute;
  inset: 0;
 // background: rgba(0,0,0,.5);
  border-radius: inherit;
  z-index: 0;            /* derrière le contenu */
}

.hero-card.dimmed > * {
  position: relative;
  z-index: 1;            /* le texte/CTAs passent au-dessus du voile */
}

.hero-slot {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

:host ::ng-deep .hero-slot > * {
  margin-left: 0 !important;
  margin-right: auto !important;
}

